---
import Page from '@layouts/page.astro'
import type {BlogFrontMatter} from '@lib/blogFrontMatter.ts';
import type { GetStaticPathsResult, MarkdownInstance } from 'astro';

export async function getStaticPaths() : Promise<GetStaticPathsResult> {
  const posts : MarkdownInstance<BlogFrontMatter>[] = await Astro.glob<BlogFrontMatter>('../../content/blog/*.md')

  return posts.map(post => ({
    params: {
      blog: post.frontmatter.fSlug
    },
    props: {
      post
    },
  }))
}

const { Content, frontmatter } = Astro.props.post as {Content: any, frontmatter: BlogFrontMatter }
---

<Page>
  <div class="container w-full h-fit max-w-full">
    <div class="h-fit mb-5 w-[75%] md:w-[40%]">
      <h1 class="text-3xl">{frontmatter.title}</h1>
      <h2 class="text-l ml-10">{frontmatter.dop}</h2>
      <h2 class="text-l ml-10">by {frontmatter.author}</h2>
      <h2 class="text-l ml-10">{frontmatter.description}</h2>
      <div class="h-1 mt-1 mb-10 bg-[#cbd5e1]"></div>
      <Content/>
    </div>
  </div>
</Page>